<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Forms</title>
</head>
<body>
    <form action="/submit" method="post">
        <label form="Science">Science:</label><br>
        <input type="text" id="science" name="science" value="0"><br>

        <label form="Maths">Maths:</label><br>
        <input type="text" id="maths" name="maths" value="0"><br>

        <input type="submit" value="Submit">
    </form>
    
</body>
</html>
