beautifulsoup4
bokeh
bottle
dask
django
fastai
fastapi
flask
flask-login
flask-scss
flask-sqlalchemy
geopandas
http.client
imblearn
ipykernel
keras
lightgbm
locust
matplotlib
memory_profiler
nltk
numpy
opencv-python
pandas
paramiko
pillow
playwright
plotly
pyautogui
pylint
pyramid
pytest
requests
scikit-learn
scrapy
seaborn
selenium
spacy
statsmodels
streamlit>=1.40,<2.0
websockets
xgboost
